ul{
list-style-type:none;
padding-right:25pxpx;
text-align:right;
font-size:20px;
}
li{
display:inline;
padding-left:25px;
}
a{
text-decoration:none;

}
h1{
text-align:left;
color:white;

}
body{
    font-size:25px;
    }
#banner{
background-image:url('banner.jpg');
height:150px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
p{
vertical-align: baseline;
font-size:25px;
padding-right:100px;
}
h2,h3{
color:red;
}
#shoot{
background-color:grey;
padding-left:25px;
padding-top:25px;
padding-bottom:25px;
}
#baby{
background-color:grey;
}

h4{
font-size:30px;
background-color:#f5aed7;
}
.photos{
padding-left:40px;
display:flex;
}
.col{
flex: 33.33%;
padding: 5px;
}
.row{
padding-left:40px;
display:flex;
}
.coll{
flex: 33.33%;
padding: 5px;
}
.details{
background-color:grey;
padding-left:70px;
padding-top:25px; 
font-size:25px;
}



